<div class="modal fade" id="addOccupationModal" tabindex="-1" aria-labelledby="addOccupationModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addOccupationModalLabel">Cadastrar novos cargos e vagas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formCargo">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="nomeCargo">Digite o nome do cargo</label>
                    <input id="nomeCargo" name="nomeCargo" type="text" autocomplete="off"
                        class="form-control border-dark" placeholder="Nome do cargo">
                    <div id="empty-1">

                    </div>
                </div>
                <div class="mb-3 d-flex gap-2 align-items-center">
                    <label for="vagasCargo" class="form-label">Vagas para o cargo:</label>
                    <input id="vagasCargo" name="vagasCargo" type="number" style="width: 30%;"
                        autocomplete="off" class="form-control border-dark"
                        placeholder="Digite o nº de vagas">
                </div>
                <div id="empty-2">

                </div>
                <div class="mb-3">
                    <label for="desc">Descrição do cargo:</label>
                    <textarea id="desc" name="desc" cols="15" rows="5" style="resize: none;"
                        class="form-control border-dark" placeholder="Descreva o cargo"></textarea>
                    <div id="empty-3">

                    </div>
                </div>
            </div>
            <div class="mx-3 mb-3 d-flex justify-content-start">
                <button class="btn btn-primary" type="submit">Adicionar
                </button>
                <div class="loader">
                    <div class=" spinner-grow spinner-grow-sm text-primary" role="status">
                        <span class="visually-hidden ">Loading...</span>
                    </div>
                    <div class=" spinner-grow spinner-grow-sm text-primary" role="status">
                        <span class="visually-hidden ">Loading...</span>
                    </div>
                    <div class=" spinner-grow spinner-grow-sm text-primary" role="status">
                        <span class="visually-hidden ">Loading...</span>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-10">
            <div id="completeCargo" class="mx-2 align-items-center justify-content-center">

            </div>
            <div id="erroCargo">

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
</div>